# RuneLite Java/plugin stuff
.gradle
build
.idea/
.project
.settings/
.classpath
nbactions.xml
nb-configuration.xml
nbproject/

# OS's
.DS_Store
Desktop.ini
Thumbs.db

# Server
.ftpquota
error_log
cgi-bin/
.htpasswd

# Other
*.log
__pycache__/

# Project-specific
.chroma/
.chromadb/
.env
slugs/
test_slugs.txt
summaries/
